{% extends 'games/home.html' %}
{% block title %}Product{% endblock %}
{%block content%}

<div>
    <h2>{{ games.title }}</h2>
    <img src="{{games.game_image.url}}" >
    <p> {{ games.release_date_at|slice:":3" }}</p>
    <p>{{games.description}}</p>
    <p>$ {{games.price}}</p>
    <p>average rating {{average_rating}} / 5</p>
    {% if last_visited %}
    <p>вы просматривали эту страницу : {{last_visited}}</p>
    {% endif %}
    {% if user.is_authenticated %}
    {% if comments_count < 1 %}
    <a href= "{% url 'store:comment-add' games.slug %}">Add comment</a>
    {%endif%}
    {%endif%}
    {% for comment in comments %}
    <p>{{comment.text}}</p>
    <p>rating {{comment.rating}}</p>
    <p>{{ comment.user.username }} Create comment </p>
    {% if user.username == comment.user.username%}
    <a href="{% url 'store:comment-delete' comment.id %}">Delete comment</a>
    <a href="{% url 'store:comment-update' comment.id %}">Edit comment</a>
    {%endif%}
    <hr>
    {% endfor %}
    

</div>

{% endblock %}